.statis {
    width: 100%;
    // border: 1px solid #000;

    .statis_h2 {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .statis_dropdown {
        display: flex;
        gap: 10px;
        align-items: center;
    }

    .statis_track {
        padding: 10px 0;
        gap: 20px;
        display: grid;
        grid-template-columns: repeat(5, minmax(100px, 1fr));
        .statis_child {
            display: flex;
            gap: 5px;
            flex-direction: column;
            margin-bottom: 20px;

            h2 {
                font-size: 25px;
                color: #000;
            }

            .statis_child_p {
                display: flex;
                gap: 10px;
                align-items: center;
            }
        }

        .statis_track_box {
            padding: 20px;
            background-color: #fafafa;
            border-radius: 10px;
        }
    }
}
