.chat-bubble {
    padding: 4px 10px;
    background-color: #ebf4fb;
}

.chat-bubble-gradient {
    background: rgb(156, 154, 252);
    background: linear-gradient(
        185deg,
        rgba(156, 154, 252, 1) 0%,
        rgba(200, 133, 245, 1) 100%
    );
}
