
#header {

    .middle {
        left: 50%;
        transform: translateX(-50%);

        @media screen and (max-width: 1128px) {
            transform: translateX(0);
            left: 160px;
        }

        @media screen and (max-width: 840px) {
            left: 0;
            right: 0;
        }
    }

    .right {
        @media screen and (max-width: 840px) {
            display: none;
        }
    }

    .garageHeader {
        @media screen and (max-width: 1024px) {
            padding: 0 16px
        }
    }
}