.datePickerCarousel {
    display: flex;
    gap: 12px;
    scroll-snap-type: x mandatory;
    overflow-x: auto;
    height: 100%;
    -ms-overflow-style: none;
    scrollbar-width: none;

    > div {
        flex-shrink: 0;
    }
    
    &::-webkit-scrollbar {
        display: none;
    }
}
